{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Profil

{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>
			Profil
		</h1>
	</div>
{% endblock %}
