<div class="header-title color-fond2 font-title">
  <h1>Panier</h1>
</div>

<div class="">
  <div class="panier_card_produit">
    {# ------------- #}
    <div class="panier_card_produit_img">
      <img src="/image/produit/Alesis_Nitro_Max.jpg" alt="" />
    </div>
    {# ------------- #}
    <div class="panier_card_produit_info">
      <h1>Nom du produit</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus,
        velit porta pharetra interdum, urna odio consectetur magna, eu
        condimentum neque odio a lacus. Etiam ut imperdiet nisi, non convallis
        sem. Etiam non tortor.
      </p>
    </div>
    {# ------------- #}

    <div class="panier_card_produit_formdel">
      <form method="POST" action="">
        <p>Supprimer le produit</p>
        <button type="submit">
          <img src="/image/logo/interface/delete.svg" alt="" />
        </button>
      </form>
    </div>

    {# ------------- #}

    <div class="panier_card_produit_quantite">
      <span>Quantité : </span>
      <input
        type="number"
        name="quantite"
        id="produit_number"
        value="1"
        min="1"
        max="10"
      />
      <p>Prix : 99,99€</p>
    </div>
  </div>
</div>
