nav {
  filter: drop-shadow(0px 3px 5.6px rgba(0, 0, 0, 0.25));
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 55px;
  z-index: 90000;
  position: relative;

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

nav h1 {
  font-size: 20pt;
  padding: 10px;
  margin: 0;
  flex-shrink: 0;
}

.nav-logo {
  transition: 200ms;
}
.nav-logo:hover {
  color: #0f5729;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  position: relative;
}

.link-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 60%;
  height: 2px;
  background-color: #369354;
  transition: transform 300ms;
}

.link-nav:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.search-container {
  position: relative;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px 32px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 250px;
}

nav input::placeholder {
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #b1b1b1;
}

.search-bar .search-icon {
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.search-bar-result {
  background: #fff;
  color: rgb(230, 0, 0);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0px 0px 0px;
  padding: 0;
  list-style: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.nav-icon {
  width: 40px;
  height: 40px;
  transition: filter 200ms;
}
.nav-icons a {
  text-decoration: none;
}

.nav-icon:hover {
  filter: brightness(0) saturate(100%) invert(44%) sepia(36%) saturate(1347%)
    hue-rotate(88deg) brightness(95%) contrast(89%);
}

.nav-icon.active {
  filter: brightness(0) saturate(100%) invert(44%) sepia(36%) saturate(1347%)
    hue-rotate(88deg) brightness(95%) contrast(89%);
}

.nav-icon.transition {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-icon.rotate-in {
  transform: rotate(90deg);
  opacity: 1;
}

.nav-icon.rotate-out {
  transform: rotate(0deg);
  opacity: 1;
}

.search-container-mobile {
  justify-content: center;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 63px;
  z-index: 1001;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search-bar-mobile {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.search-bar-mobile input {
  padding: 8px 32px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 250px;
}

.search-bar-result-mobile {
  background: #fff;
  color: black;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1002;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  max-width: 90%;
  width: 100%;
}

.search-icon-mobile,
.nav-hamb {
  display: none;
}

.link-nav-mobile {
  color: black;
  text-decoration: none;
  transition: 200ms;
}

.link-nav-mobile:hover {
  color: #369354;
}

.menu-mobile-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-mobile-wrapper.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#nav-count-panier {
  position: absolute;
  top: -5px;
  right: -6px;
  background-color: #369354;
  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  height: 20px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}

@media (max-width: 864px) {
  .search-bar input {
    width: auto;
  }
  ul li a {
    padding: 5px 0px;
    margin: 0;
  }
}

@media (max-width: 727px) {
  .search-container {
    display: none;
  }
  .search-icon-mobile {
    display: block;
  }
  .search-container-mobile {
    display: flex;
  }

  .nav-icons {
    display: flex;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
  }

  .nav-icon {
    width: 40px;
    height: 40px;
    transition: filter 200ms;
  }
}
@media (min-width: 660px) {
  .search-container-mobile {
    display: none;
  }
}
@media (max-width: 530px) {
  .link-nav {
    display: none;
  }
  .nav-hamb {
    display: block;
  }

  nav h1 {
    font-size: 16pt;
    padding: 5px;
  }

  .nav-icon {
    width: 30px;
    height: 30px;
  }
}
