{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Politique de confidentialité

{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>
			Politique de confidentialité
		</h1>
	</div>
{% endblock %}
