{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Réinitialiser votre mot de passe

{% endblock %}

{% block body %}
	<section class="flex flex-col justify-center items-center text-center">
		<p class="max-w-[600px] m-[20px]">
			Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien vous permettant de réinitialiser votre mot de passe vient de vous être envoyé. Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p class="max-w-[600px]m-[20px]">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
			<a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
	</section>
{% endblock %}
