body {
  top: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  /* peut être le mettre dans une div le max width */
}

.font-title {
  font-family: "Lato", sans-serif;
}

.color-fond {
  background-color: #2f2f2f;
}
.color-fond2 {
  background-color: #fff5e4;
}

.color-fond3 {
  background-color: #ffffff;
}

.color-btnCta {
  background-color: #369354;
}

.color-erreur {
  background-color: #ff624d;
}

.color-valide {
  background-color: #59d26b;
}
.color-logo {
  background-color: #15803d;
}
.color-secondLien {
  color: #626262;
}
