@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

.color-fond {
  background-color: #2f2f2f;
}
.color-fond2 {
  background-color: #fff5e4;
}

.color-fond3 {
  background-color: #ffffff;
}

.color-btnCta {
  background-color: #369354;
}

.color-btnCom {
  background-color: #535353;
}

.color-erreur {
  background-color: #ff624d;
}

.color-erreur-text {
  color: #ff624d;
}

.color-valide {
  background-color: #59d26b;
}
.color-logo {
  background-color: #15803d;
}
.color-logo-text {
  color: #15803d;
  text-decoration: none;
}
.color-secondLien {
  color: #626262;
  text-decoration: none;
}

.error-section {
  position: fixed;
  top: 100px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 999999;
  padding-inline: 10px;
  box-sizing: border-box;
}

.flashe-success,
.flashe-error {
  padding: 10px;
  border-radius: 50px;
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease, transform 500ms ease;
}

.flashe-success {
  border: 1px solid #59d26b;
  background: #59d26b86;
}

.flashe-error {
  border: 1px solid #ff624d;
  background: #fd533d7c;
}

.notification {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 500ms ease, transform 500ms ease;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 80px;
  text-align: center;
}

.card-categorie-link {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0px;
  text-decoration: none;
  color: inherit;
}

.card-categorie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  transition: 200ms;
}

.card-categorie h2 {
  text-align: center;
  margin-top: 40px;
}

.card-categorie-img {
  height: 200px;
  width: 200px;
}

.card-categorie-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
}

.card-categorie:hover {
  border: 1px solid #369354;
  cursor: pointer;
}

.card-autre-categorie-link {
  display: inline-block;
  width: 370px;
  height: 70px;
  margin: 0px;
  text-decoration: none;
  color: inherit;
}

.card-autre-categorie {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  transition: 200ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.card-autre-categorie h2 {
  text-align: center;
  margin: 0 auto;
}

.card-autre-categorie-img {
  height: 70px;
  width: 80px;
}

.card-autre-categorie-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px 0px 0px 16px;
}

.card-autre-categorie:hover {
  border: 1px solid #369354;
  cursor: pointer;
}

.card-produit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  transition: 250ms;
  height: 335px;
  width: 320px;
  padding: 20px;
}

.card-produit-promotion {
  text-decoration: line-through;
}

.card-produit h2 {
  font-size: 16pt;
}
.card-produit h2,
.card-produit p {
  text-align: center;
  margin: 0 auto;
}

.card-produit-img {
  margin-top: 20px;
  height: 160px;
  width: 180px;
}
.card-produit img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px;
}

.card-produit-btn {
  padding: 5px 40px;
  background: #369354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 5px;
  transition: box-shadow 250ms ease;
  text-align: center;
}

.card-produit-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

.fil-ariane {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: 5px;
}

.fil-ariane img {
  transition: 200ms;
}

.fil-ariane img:hover {
  filter: brightness(0) saturate(100%) invert(44%) sepia(36%) saturate(1347%)
    hue-rotate(88deg) brightness(95%) contrast(89%);
}

.fil-ariane ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0px;
  transition: 200ms;
}

.fil-ariane ul li a:hover {
  color: #369354;
}

.btn-admin {
  position: fixed;
  bottom: 70px;
  z-index: 60000;
  right: 30px;
  padding: 5px 40px;
  background: #369354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  transition: box-shadow 200ms ease;
  font-size: 13pt;
  cursor: pointer;
}

.btn-admin:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

.app-input {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 16px;
  max-width: 300px;
  padding: 5px 15px;
  margin-bottom: 15px;
  font-size: 12pt;
  width: 100%;
  box-sizing: border-box;
  transition: 200ms;
}

.app-input:focus {
  border: 1px solid #4caf50;
  outline: none;
}

.app-input-number {
  margin: 0 auto;
  justify-content: center;
  width: 55px;
  font-size: 14pt;
  padding: 8px 12px;
  border-radius: 36px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
}

.app-input-number:focus {
  border: 1px solid #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  background: white;
}

.app-button {
  padding: 5px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  transition: box-shadow 200ms ease;
  text-align: center;
  font-size: 13pt;
  border: none;
  cursor: pointer;
  margin: 4px 0px;
}

.app-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 750px) {
  .header-title {
    font-size: 11pt;
    height: auto;
    padding: 20px;
  }
  .fil-ariane ul {
    font-size: 9pt;
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    font-size: 9pt;
    padding: 15px;
  }
}

/* ----------------- MDP Perdu ----------------- */

.reset-pass-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reset-pass-page-section ul {
  display: flex;
  flex-direction: column;
}
.reset-pass-page-section ul li {
  color: #ff624d;
  margin: 0 auto;
}

.reset-pass-page-section p {
  max-width: 600px;
  margin: 20px;
}

.reset-pass-page-section input,
.reset-pass-page-section button {
  margin-top: 20px;
}

/* -------------- Tooltip  */

.app-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #363636;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.app-tooltip-text {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 8px);
  transform: translateX(-50%) translateY(5px);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.app-tooltip:hover .app-tooltip-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
