.header-paiement {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  text-align: center;
  flex-wrap: wrap;
}

.header-paiement-btn {
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.header-paiement-btn a {
  padding: 11px 40px;
  background: #369354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 5px;
  transition: box-shadow 200ms ease;
  text-align: center;
}

.header-paiement-btn a:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

.section-paiement-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paiement-card-info {
  max-width: 400px;
  text-align: center;
  margin: 40px;
  padding: 40px;
  border-radius: 16px;
}
.paiement-card-info h1 {
  font-size: 15pt;
  margin-bottom: 16px;
}

.profil-link {
  display: inline-block;
  padding: 5px 40px;
  background: #369354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  transition: box-shadow 200ms ease;
  text-align: center;
  font-size: 13pt;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.profil-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

.section-paiement-btn-annulation {
  display: flex;
  justify-content: center;
}

.section-paiement-recap-com {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.paiement-adresse-error {
  color: #ff624d;
}

.paiement-card-produit-img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
}

.paiement-card-produit-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
