.profil-form-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profil-card-adresse {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
}
.profil-card-adresse h1 {
  font-size: 15pt;
  margin-bottom: 16px;
}

.profil-card-adresse form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-card-adresse button {
  margin-top: 20px;
}

.profil-card-adresse textarea {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 5px 15px;
  font-size: 12pt;
  transition: border 200ms;
  resize: none;
}

#profil-section-password {
  margin-top: 20px;
}

#profil-section-password h1,
#profil-section-email h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profil-form-password form,
.profil-form-email form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profil-form-password ul li,
.profil-form-email ul li {
  color: #ff624d;
}

#profil-section-email {
  margin-top: 40px;
}

/* ------------- */

.profil-card-commande {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.profil-card-commande-produit {
  display: flex;
}

.profil-card-commande-img {
  width: 100%;
  max-width: 80px;
  height: 80px;
}

.profil-card-commande-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
